# Flutter
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

# Android / iOS
android/.gradle/
android/local.properties
ios/Pods/
ios/.symlinks/

# Visual Studio Code
.vscode/

# Python
backend/venv/
backend/__pycache__/
backend/app/__pycache__/
backend/instance/
backend/*.db
backend/.env

# Sistema
.DS_Store
Thumbs.db
# IntelliJ / Android Studio
.idea/
*.iml

# Python
**/__pycache__/

# Logs de Java
hs_err_pid*.log
